*{
  box-sizing: border-box;
}

/* Style the body */
/*body {
    font-family: Arial;
    margin: 0;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
   background-color: #000;
     
  }*/
  body, html {
    background: url("../C:\Users\Administrator\Desktop\nandies.folio\image.jpg")
     no-repeat fixed center center;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background: url("image.jpg")
    no-repeat fixed center center;
    background-size: cover;
    border-radius: 30px;
  width: 100%;
  padding: 20px 16px;
}

.contact{
    background-color: #ffffff ;

}

.form{
width: 70%;
margin: 0 auto;
}

.form label{
    font-size: 1.5rem;
}

input,select,textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #fd57bf;
}

input[type="subject"]{
    width: 100%;
    height: 50%;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: 4rem;
    cursor: pointer;
    transition: background-color 650rem;
}

input[type="subject"]:hover{
color: #fff;
background-color: #ffeb38;
}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  /* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }